body {
    font-family: 'Montserrat', Arial, Verdana, Tahoma;
    background: #0b0e13;
    color:  #cccccc;  
    font-size: 1em;
    padding: 25px;
    margin-bottom: 45px;
}

a:link {
    color: #8350ff;
}

a:visited {
    color: #8350ff;
}

a:hover {
    color: springgreen;
}

a:active {
    color: #cccccc;
}

#eb-header{
    display: grid;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

span.prev-question {
    font-style: italic;
    word-wrap: normal;
}

span.answser-intro {
    font-style: bold;
}

span.answer-text {
    font-style: italic;
}

span.error_mode {
    color: red;
    font-style: normal;    
}

#eb-previous-question {
    font-size: 1.5rem;
    text-align: center;
    justify-self: center;
}

#eb-new-answer {
    text-align: center;
    justify-self: center;
    margin-top: 1.5rem;
}
 
#eb-question-taker {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
    background-color: #e0e0e0;
    color: #85939d;
}

#eb-question-group {
    width: 100% !important;
}

#eb-submit-button {
    background-color: indigo;
    color: #e0e0e0;
    border-left-width: 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border: 1px solid #9400ff;
}
    #eb-submit-button:hover {
        background-color: #9400ff !important;     
        border-color: #e0e0e0 !important;   
        color: #e0e0e0 !important;
    }

#eb-footer {
    position: absolute;
    bottom: 0;
    left: 0;    
    height: 45px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    z-index: -999;
}

    #eb-footer .footer-entry {
        margin-right: 0.5rem;
    }

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
}
