body {
    font-family: 'Montserrat', Arial, Verdana, Tahoma;
    background: #2a2732;
    color:  #cccccc;  
    font-size: 1em;
    padding: 25px;
    margin-bottom: 45px;
}

a:link { color: #8350ff; }
a:visited { color: #8350ff; }
a:hover { color: springgreen; }
a:active { color: #cccccc; }

.prev-question-intro {
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

.prev-question {
    font-style: italic;
    font-weight: normal;
    text-align: justify;
}

.answser-intro {
    font-style: bold;
}

.answer-text {
    font-style: italic;
}

.error_text {
    color: #b30013;
    font-style: normal;
    text-align: center;
}

.error_intro {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.error_explanation {
    font-weight: normal;  
    font-size: 1.5rem;  
}

.post-error-divider {
    color: #ccc;
    width: 80%;
    margin-top: 3.3rem;
}

.post-error-message {
    margin-top: 0;
}

    .big-down-arrow {
        font-size: 8rem;
        margin-top: 0;
        margin-bottom: 0;
    }

#eb-header {
    display: grid;
    max-width: 66%;
    margin-left: auto;
    margin-right: auto;
}

#eb-form-container {
    font-size: 1.2rem;
}

#eb-new-answer {
    text-align: center;
}
 
#eb-question-edit {
    display: flex;
    flex-grow: 1;
    flex-basis: fit-content;
    min-width: 470px;
    width: 100%;
    flex-shrink: 0;

    border-left-width: 0 !important;
    border-top-right-radius: 0 !important;
    border-top-width: 0 !important;
    border-right-width: 0 !important;    
    border-bottom-right-radius: 0 !important;
    border-bottom-width: 0 !important;
    line-height: 24px;
    background-color: #e0e0e0;
    color: #85939d;
}

    #eb-question-edit:focus-visible {
        border-left-width: 0 !important;
        border-top-width: 0 !important;
        border-right-width: 0 !important;
        border-bottom-width: 0 !important;
        transition: border-color none !important;
    }

    #eb-question-edit:focus {

        /* box-shadow: inset 0 0 0 0 #9400ff, inset 0 0 0 2px #e0e0e0; */

        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right-width: 0 !important;

        padding-top: 0.375rem;
        padding-right: 0.75rem;
        padding-bottom: 0.375rem;
        padding-left: 0.75rem;

        box-shadow: none !important;
        transition: border-color none !important;
    }

.single-line-input-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#eb-submit-button {
    display: flex;
    flex-grow: 0;
    flex-basis: fit-content;
    flex-shrink: 1;    
    background-color: indigo;
    color: #e0e0e0;
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border: 0 1px 1px 1px solid #9400ff;
}
    #eb-submit-button:focus-visible {
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }

    #eb-submit-button:hover {
        background-color: #9400ff !important;     
        border-color: #e0e0e0 !important;   
        color: #e0e0e0 !important;
    }

#eb-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;    
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    z-index: -999;

    border: 1px dotted white;
}

    #eb-footer .footer-entry {
        margin-right: 0.5rem;
        margin-top: auto;
        margin-bottom: auto;        
    }

    #eb-footer .github-logo {
        background: white;
        width: 24px;
        height: 24px;
    }

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    src: url('../fonts/Montserrat-MediumItalic.ttf') format('truetype');
}
